<section id="stats-section" class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Statistics By Date</h4>
        </div>
        <div class="card-body">
          <canvas id="barChart" width="400" height="400"></canvas>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Statistics By Month</h4>
        </div>
        <div class="card-body">
          <canvas id="lineChart" width="400" height="400"></canvas>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-6">
      <div class="form-group">
        <label for="inputYear">Year :</label>
        <input
          type="number"
          id="inputYear"
          name="inputYear"
          [(ngModel)]="selectedYear"
          class="form-control"
          placeholder="Enter the year"
        />
      </div>
      <div class="text-center">
        <button class="btn btn-primary" (click)="fetchYearStats()">
          Show Statistics
        </button>
      </div>
    </div>
  </div>
</section>
