<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <!-- content-header component -->
        <app-content-header [contentHeader]="contentHeader"></app-content-header>

        <!-- account setting page -->
        <section id="page-account-settings">
            <div class="row nav-vertical d-flex">
                <div class="col-md-3 mb-2 mb-md-0">
                    <ul ngbNav #navVertical="ngbNav" class="nav nav-pills flex-column nav-left">
                        <li class="nav-item" ngbNavItem>
                            <a
                                    ngbNavLink
                                    class="nav-link d-flex py-75"
                                    id="account-pill-general"
                                    data-toggle="pill"
                                    href="#account-vertical-general"
                                    aria-expanded="true"
                            >
                                <i data-feather="user" class="font-medium-3 mr-1"></i>
                                <span class="font-weight-bold">General</span>
                            </a>
                            <ng-template ngbNavContent>
                                <div class="card">
                                    <div class="card-body">
                                        <!-- header media -->
                                        <div class="media">
                                            <a href="javascript:void(0);" class="mr-25">
                                                <img [src]="avatarImage" class="rounded mr-50" alt="profile image"
                                                     height="76" width="80"/>
                                            </a>
                                            <!-- upload and reset button -->
                                            <div class="media-body mt-75 ml-1">
                                                <button
                                                        (click)="file.click()"
                                                        for="account-upload"
                                                        class="btn btn-sm btn-primary mb-75 mr-75"
                                                        rippleEffect
                                                >
                                                    Upload
                                                </button>
                                                <input
                                                        type="file"
                                                        #file
                                                        id="account-upload"
                                                        hidden
                                                        accept="image/*"
                                                        (change)="uploadImage($event)"
                                                />
                                                <button class="btn btn-sm btn-outline-secondary mb-75" rippleEffect>
                                                    Reset
                                                </button>
                                                <p>Allowed JPG, GIF or PNG. Max size of 800kB</p>
                                            </div>
                                            <!--/ upload and reset button -->
                                        </div>
                                        <!--/ header media -->

                                        <!-- form -->
                                        <form class="validate-form mt-2" (ngSubmit)="onSubmit()">
                                            <div class="row">
                                                <div class="col-12 col-sm-6">
                                                    <div class="form-group">
                                                        <label for="account-username">Username</label>
                                                        <input
                                                                type="text"
                                                                [(ngModel)]="data.username"
                                                                class="form-control"
                                                                id="account-username"
                                                                name="username"
                                                                placeholder="Username"
                                                        />
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-6">
                                                    <div class="form-group">
                                                        <label for="account-name">Fullname</label>
                                                        <input
                                                                type="text"
                                                                [(ngModel)]="data.fullname"
                                                                class="form-control"
                                                                id="account-name"
                                                                name="name"
                                                                placeholder="Fullname"
                                                        />
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-6">
                                                    <div class="form-group">
                                                        <label for="account-e-mail">E-mail</label>
                                                        <input
                                                                type="email"
                                                                [(ngModel)]="data.email"
                                                                class="form-control"
                                                                id="account-e-mail"
                                                                name="email"
                                                                placeholder="Email"
                                                        />
                                                    </div>
                                                </div>

                                                <div class="col-12">
                                                    <button type="submit" class="btn btn-primary mt-2 mr-1"
                                                            rippleEffect [disabled]="isDisabled">Save changes
                                                    </button>
                                                    <button type="reset" class="btn btn-outline-secondary mt-2"
                                                            rippleEffect>Cancel
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                        <!--/ form -->
                                    </div>
                                </div>
                            </ng-template>
                        </li>
                        <li class="nav-item" ngbNavItem>
                            <a
                                    ngbNavLink
                                    class="nav-link d-flex py-75"
                                    id="account-pill-password"
                                    data-toggle="pill"
                                    href="#account-vertical-password"
                                    aria-expanded="false"
                            >
                                <i data-feather="lock" class="font-medium-3 mr-1"></i>
                                <span class="font-weight-bold">Change Password</span>
                            </a>
                            <ng-template ngbNavContent>
                                <div class="card">
                                    <div class="card-body">
                                        <!-- form -->
                                        <form class="validate-form" (ngSubmit)="onSubmitSetPassword()">
                                            <div class="row">
                                                <div class="col-12 col-sm-6">
                                                    <div class="form-group">
                                                        <label for="account-old-password">Old Password</label>
                                                        <div class="input-group form-password-toggle input-group-merge">
                                                            <input
                                                                    [type]="passwordTextTypeOld ? 'text' : 'password'"
                                                                    [(ngModel)]="oldPassword"
                                                                    class="form-control"
                                                                    id="account-old-password"
                                                                    name="password"
                                                                    placeholder="Old Password"
                                                            />
                                                            <div class="input-group-append">
                                <span class="input-group-text cursor-pointer"
                                ><i
                                        class="feather font-small-4"
                                        [ngClass]="{
                                      'icon-eye-off': passwordTextTypeOld,
                                      'icon-eye': !passwordTextTypeOld
                                    }"
                                        (click)="togglePasswordTextTypeOld()"
                                ></i
                                ></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12 col-sm-6">
                                                    <div class="form-group">
                                                        <label for="account-new-password">New Password</label>
                                                        <div class="input-group form-password-toggle input-group-merge">
                                                            <input
                                                                    [type]="passwordTextTypeNew ? 'text' : 'password'"
                                                                    [(ngModel)]="newPassword"
                                                                    id="account-new-password"
                                                                    name="new-password"
                                                                    class="form-control"
                                                                    placeholder="New Password"
                                                            />
                                                            <div class="input-group-append">
                                <span class="input-group-text cursor-pointer"
                                ><i
                                        class="feather font-small-4"
                                        [ngClass]="{
                                      'icon-eye-off': passwordTextTypeNew,
                                      'icon-eye': !passwordTextTypeNew
                                    }"
                                        (click)="togglePasswordTextTypeNew()"
                                ></i
                                ></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-6">
                                                    <div class="form-group">
                                                        <label for="account-retype-new-password">Retype New
                                                            Password</label>
                                                        <div class="input-group form-password-toggle input-group-merge">
                                                            <input
                                                                    [type]="passwordTextTypeRetype ? 'text' : 'password'"
                                                                    [(ngModel)]="confirmNewPassword"
                                                                    class="form-control"
                                                                    id="account-retype-new-password"
                                                                    name="confirm-new-password"
                                                                    placeholder="New Password"
                                                            />
                                                            <div class="input-group-append">
                                <span class="input-group-text cursor-pointer"
                                ><i
                                        class="feather font-small-4"
                                        [ngClass]="{
                                      'icon-eye-off': passwordTextTypeRetype,
                                      'icon-eye': !passwordTextTypeRetype
                                    }"
                                        (click)="togglePasswordTextTypeRetype()"
                                ></i
                                ></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <button type="submit" class="btn btn-primary mr-1 mt-1"
                                                            rippleEffect>Save changes
                                                    </button>
                                                    <button type="reset" class="btn btn-outline-secondary mt-1"
                                                            rippleEffect (click)="resetImage()">Cancel
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                        <!--/ form -->
                                    </div>
                                </div>
                            </ng-template>
                        </li>
                    </ul>
                </div>
                <div [ngbNavOutlet]="navVertical" class="col-12 col-md-9"></div>
            </div>
        </section>
        <!--/ account setting page -->
    </div>
</div>
